.dungeonTitleName {
    text-align: center;
    font-family: 'Eagle Lake', cursive;
    font-size: 27px;
}

.dungeonStatus {
    text-align: center;
    font-family: 'Eagle Lake', cursive;
    font-size: 20px;
    margin-top: -10px;
}

.dungeonButton {
    margin-left: 2px;
    margin-right: 2px;
    width: 122px;
    height: 50px;
}

.dungeonButton:hover {
    cursor: pointer;
}

/* -------------------------------------------------------------------------- */
/*                               DUNGEON BUTTONS                              */
/* -------------------------------------------------------------------------- */

.ButtonLeave {
    background-color: rgb(235, 19, 19);
    width: 500px !important;
    border-radius: 5px;
}

.buttonEnterDungeon {
    background-color: rgb(0, 182, 12);
    width: 500px !important;
    font-family: 'Eagle Lake', cursive;
    font-size: 20px;
    border-radius: 5px;
}

.ButtonFight {
    background-color: rgb(186, 42, 42);
    width: 248px !important;
}

.ButtonLeave {
    background-color: rgb(235, 19, 19);
    width: 500px !important;
}

.ButtonInteract {
    background-color: rgb(52, 202, 80);
    width: 248px !important;
}

.dungeonDirectionButtons button {
    background-color: rgb(0, 166, 255);
}

.dungeonInteractionButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2px;
}

/* -------------------------------------------------------------------------- */
/*                             DUNGEON PREPARATION                            */
/* -------------------------------------------------------------------------- */

.dungeonPreparationFlavourText {
    text-align: center;
    font-family: 'Eagle Lake', cursive;
    font-size: 16px;
}

.dungeonPreparationExplorersContainer {
    margin-top: 30px;
    width: 80%;
    width: 1025px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    border: 12px solid rgb(133, 64, 36);
    border-radius: 15px;

    background: linear-gradient( rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20) ), url('../../texture/wooden_board.png');
    background-size: cover;
}

.dungeonPreparationExplorersContainerTitle {
    font-family: 'Eagle Lake', cursive;
    font-size: 22px;
    text-align: center;
    margin-top: -36px;

    width: 320px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 2px;
    border: 2px black solid;
    border-radius: 10px;
}

.dungeonPreparationExplorersContainerNumber {
    font-family: 'Eagle Lake', cursive;
    font-size: 22px;
    text-align: center;
    margin-top: -2px;

    width: 60px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 2px black solid;
    border-radius: 0 0 10px 10px;
}

.dungeonPreparationExplorersContainerList {
    margin-left: auto;
    margin-right: auto;
    display:grid;
    grid-template-columns: 500px 225px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 5px;
}

.dungeonPreparationButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.dungeonPreparationButtons > button {
    margin-top: 2px;
    margin-bottom: 2px;
}

@media (max-width: 1150px) {
    .dungeonPreparationExplorersContainerList {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .dungeonPreparationExplorersContainer {
        width: 520px !important;
        min-width: unset;
    }
}

@media (max-width: 595px) {

    .dungeonPreparationExplorersContainer {
        width: 275px !important;
    }

    .dungeonPreparationExplorersContainer .character-card {
        width: 270px !important;
    }

    .dungeonPreparationExplorersContainer .character-card-separator {
        width: 270px !important;
    }

    .dungeonPreparationExplorersContainer .character-card-stat-name {
        display: none;
    }

    .dungeonPreparationExplorersContainer .character-card-infos-name-name {
        display: none;
    }
    
    .dungeonPreparationExplorersContainer .character-card-infos-name-species {
        display: none;
    }

    .dungeonPreparationExplorersContainer .dungeonPreparationExplorersContainerTitle {
        margin-left: -25px;
    }
    
    .dungeonPreparationButtons > button {
        width: 200px !important;
    }
}

/* -------------------------------------------------------------------------- */
/*                             DUNGEON EXPLORATION                            */
/* -------------------------------------------------------------------------- */
.dungeonExplorationTips {
    width: 33%;
    font-family: 'Eagle Lake', cursive;
}

.dungeonTipsRow {
    display: flex;
    justify-content: start;
    justify-self: center;
    margin-bottom: 5px;
    margin-left: 25px;
}

.tile-tip {
    display: flex;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(50, 50, 50);
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Eagle Lake', cursive;
}

.tile-tip-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    font-size: 18px;
}

.dungeonTipsRow {
    display: flex;
}

.dungeonTipsSeparator {
    height: 1px;
    background-color: rgba(0, 0, 0, 0.45);
    width: 85%;
    margin: auto;
}

.dungeonTipsNotes {
    margin-top: 5px;
    list-style-type: circle;
    font-size: 18px;
}

.dungeonTipsNotesTitle {
    font-size: 30px;
    text-align: center;
}

.dungeonExplorationFlavourText {
    text-align: center;
    font-family: 'Eagle Lake', cursive;
    font-size: 16px;
    margin-bottom: 20px;
}

.dungeonExplorationFirstRowContainer {
    display: flex;
    flex-direction: row;    
}

.dungeon {
    min-width: 550px;
    margin: auto;
}

.dungeon-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tile {
    display: flex;
    width: 60px;
    height: 60px;
    border: 1px solid rgb(50, 50, 50);
    justify-content: center;
    align-items: center;
    color: white;
}

.tile-unknown::before {
    content: '?';
    font-size: 28px;
}

.tile-unknown {
    background: rgb(99, 99, 99);
}

.tile-entrance {
    background: rgb(0, 96, 144);
}

.tile-exit {
    background: green;
}

.tile-full {
    background-color: blanchedalmond;
}

.tile-empty {
    background: rgb(0, 0, 0);
}

.tile-monsters-1::before {
    content: '1';
    font-size: 25px;
    margin-right: 2px;
    margin-top: -2px;
}

.tile-monsters-1 {
    background: rgb(186, 34, 34);
    justify-content: end !important;
    align-items: start !important;
}

.tile-monsters-2::before {
    content: '2';
    font-size: 25px;
    margin-right: 2px;
    margin-top: -2px;
}

.tile-monsters-2 {
    background: rgb(148, 20, 20);
    justify-content: end !important;
    align-items: start !important;
}

.tile-monsters-3::before {
    content : '3';
    font-size: 25px;
    margin-right: 2px;
    margin-top: -2px;
}

.tile-monsters-3 {
    background: rgb(111, 10, 10);
    justify-content: end !important;
    align-items: start !important;
}

.tile-current-explorers-position {
    background-image: url("/images/mystery-dungeon-icon.png");
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
}

.dungeonExplorationExplorers {
    width: 33%;
    display: flex;
    justify-content: center;
}

.dungeonExplorationExplorersContainer {
    position: absolute;
    width: 520px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    border: 12px solid rgb(133, 64, 36);
    border-radius: 15px;

    background: linear-gradient( rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20) ), url('../../texture/wooden_board.png');
    background-size: cover;
}

.dungeonExplorationExplorersContainerTitle {
    font-family: 'Eagle Lake', cursive;
    font-size: 22px;
    text-align: center;
    margin-top: -36px;

    width: 320px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding: 2px;
    border: 2px black solid;
    border-radius: 10px;
}

.dungeonExplorationExplorersContainerNumber {
    font-family: 'Eagle Lake', cursive;
    font-size: 22px;
    text-align: center;
    margin-top: -2px;

    width: 60px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 2px black solid;
    border-radius: 0 0 10px 10px;
}

.dungeonExplorationExplorersContainerList {
    margin-left: auto;
    margin-right: auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.dungeonInteractionButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2px;
}

.dungeonDirectionButtons {
    display: flex;
    justify-content: center;
}

.dungeonEndingButton {
    display: flex;
    justify-content: center;
}

.dungeonButtons {
    margin-top: 10px;
}

.dungeonEndingButton {
    margin-top: 4px;
}

.dungeonFightsLogs {
    width: 550px;
    height: 250px;
    background-image: url('../../texture/parchement.jpg');
    border-radius: 15px;
    border: 2px solid black;
    font-family: 'Eagle Lake', cursive;
    position: absolute;
    margin-left: 30px;
    overflow-y: scroll;
}

.dungeonFightsLogsSeparator {
    width: 500px;
    height: 1px;
    margin: auto;
    background-color: black;
}

.dungeonFightsLogsTitle {
    font-size: 28px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

.dungeonFightsLogsList {
    height: 500px;
    overflow-y: scroll;    
}

.dungeonFightsLogsList ul {
    list-style: square;
    padding: 0;
    width: 92%;
    margin-left: auto;
    margin-right: auto;
}

.dungeonFightsLogsList li {
    margin-top: 8px;
    font-size: 16px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}

.dungeonFightsLogsList li:hover {
    background-color: rgb(220, 202, 175);
}

.dungeonFightsLogsList li a {
    color: black !important;
    text-decoration: none !important;
}

.dungeonFightsLogsList li a img {
    width: 25px;
    height: 25px;
    margin-left: 8px;
}

.dungeonFightsLogsList li a img:hover {
    cursor: pointer;
}

.dungeonFightsLogsList::-webkit-scrollbar {
    display: none; 
}

.dungeonExplorationSecondRowContainer {
    min-height: 300px;
}

@media (max-width: 1850px) {
    .dungeonTipsNotes {
        margin-top: 5px;
        list-style-type: circle;
        font-size: 16px;
    }
    
    .dungeonTipsNotesTitle {
        font-size: 25px;
    }

    .tile-tip-text {
        font-size: 16px;
    }

    .tile {
        display: flex;
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 1800px) {
    .dungeonFightsLogs {
        width: 400px;
    }

    .dungeonFightsLogsSeparator {
        width: 400px;
    }
}

@media (max-width: 1750px) {
    .dungeonExplorationExplorersContainer {
        width: 275px !important;
    }

    .dungeonExplorationExplorersContainer .character-card {
        width: 270px !important;
    }

    .dungeonExplorationExplorersContainer .character-card-separator {
        width: 270px !important;
    }

    .dungeonExplorationExplorersContainer .character-card-stat-name {
        display: none;
    }

    .dungeonExplorationExplorersContainer .character-card-infos-name-name {
        display: none;
    }
    
    .dungeonExplorationExplorersContainer .character-card-infos-name-species {
        display: none;
    }

    .dungeonExplorationExplorersContainer .dungeonExplorationExplorersContainerTitle {
        margin-left: -25px;
    }
    
    .dungeonExplorationExplorersContainer .dungeonPreparationButtons > button {
        width: 200px !important;
    }
}

@media (max-width: 1470px) {
    .dungeonFightsLogs {
        width: 300px;
    }

    .dungeonFightsLogsSeparator {
        width: 300px;
    }

    .dungeonFightsLogsTitle {
        font-size: 22px;
    }

    .dungeon-logs-line-text {
        display: none;
    }
}

@media (max-width: 1300px) {
    .dungeonExplorationExplorersContainer .dungeonExplorationExplorersContainerTitle {
        margin-left: auto
    }

    .dungeonExplorationFirstRowContainer {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .dungeonExplorationExplorers {
        width: 600px !important;
        margin-bottom: 20px;
    }

    .dungeonExplorationExplorersContainer {
        width: 560px !important;
    }

    .dungeonExplorationExplorersContainerList {
        display:grid;
        grid-template-columns: 275px 225px;
        grid-row: auto auto;
        grid-column-gap: 13px;
        grid-row-gap: 5px;
        justify-content: unset;
    }

    .dungeonExplorationTips {
        display: none;
    }

    .dungeonButtons {
        margin-top: 10px;
    }

    .dungeonExplorationExplorersContainer {
        position: static;
    }

    .dungeonExplorationSecondRowContainer {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .dungeonFightsLogs {
        margin-left: 0px;
        margin-top: 25px;
        position: static;

        width: 504px;
    }

    .dungeonFightsLogsTitle {
        font-size: 22px;
    }

    .dungeon-logs-line-text {
        display: unset;
    }

    .dungeonFightsLogsList li {
        font-size: 14px;
    }
}

@media (max-width: 650px) {
    .dungeonExplorationExplorersContainer {
        width: 275px !important;
    }

    .dungeonExplorationExplorersContainerList {
        display: flex;
        flex-direction: column;
    }

    .tile {
        display: flex;
        width: 40px;
        height: 40px;
    }

    .tile-current-explorers-position {
        background-size: 40px 40px;
    }

    .dungeonExplorationExplorersContainer .dungeonExplorationExplorersContainerTitle {
        margin-left: -25px;
    }

    .dungeon {
        min-width:unset;
    }

    .dungeonExplorationSecondRowContainer .ButtonFight {
        background-color: rgb(186, 42, 42);
        width: 155px !important;
    }
    
    .dungeonExplorationSecondRowContainer .ButtonLeave {
        background-color: rgb(235, 19, 19);
        width: 316px !important;
    }
    
    .dungeonExplorationSecondRowContainer .ButtonInteract {
        background-color: rgb(52, 202, 80);
        width: 155px !important;
    }
    
    .dungeonExplorationSecondRowContainer .dungeonButton {
        width: 75px;
    }
}

@media (max-width: 570px) {
    .dungeonFightsLogs {
        width: 300px;
    }

    .dungeonFightsLogsSeparator {
        width: 300px;
    }

    .dungeonFightsLogsTitle {
        font-size: 22px;
    }

    .dungeon-logs-line-text {
        display: none;
    }
}

@media (max-width: 480px) {
    .tile {
        display: flex;
        width: 35px;
        height: 35px;
    }

    .tile-current-explorers-position {
        background-size: 35px 35px;
    }
}

@media (max-width: 420px) {
    .tile {
        display: flex;
        width: 30px;
        height: 30px;
    }

    .tile-current-explorers-position {
        background-size: 30px 30px;
    }
}

/* -------------------------------------------------------------------------- */
/*                                 No Dungeon                                 */
/* -------------------------------------------------------------------------- */

.noDungeonImage {
    display: flex;
    justify-content: center;
}

.noDungeonImage img {
    width: 275px;
}

.noDungeonCooldownTimerContainer {
    margin-top: 40px;
    text-align: center;
}

.noDungeonTitle {
    text-align: center;
    font-size: 18px;
    font-family: 'Eagle Lake', cursive;
    margin-top: -15px;
}

#noDungeonCooldownTimer {
    width: 125px;
    border: 2px black solid;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    padding: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -10px;
    text-align: center;
    background-image: url('../../texture/parchement.jpg');
}

.noDungeonCreateDungeonInstanceLink {
    text-decoration: none;
    color: black;
}

.noDungeonCreateDungeonInstance {
    width: 220px;
    border: 2px black solid;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    padding: 12px;
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: center;
    background-color: rgb(75,181,67);
}

.noDungeonChargesNumber {
    font-family: 'Eagle Lake', cursive;
    text-align: center;
    margin-top: 40px;
}

.noDungeonCooldownTimerContainer p {
    font-family: 'Eagle Lake', cursive;
    font-size: 16px;
}

.joinDungeonInstanceSeparator {
    height: 1px;
    background-color: black;
    width: 60%;

    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.joinDungeonInstanceTitle {
    margin-top: 25px;
    font-family: 'Eagle Lake', cursive;
    text-align: center;
}

.joinInviteCodePannel {
    margin-top: 10px;
    width: 250px;
    display: flex;
    flex-direction: column;

    font-family: 'Eagle Lake', cursive;

    border: 12px solid rgb(133, 64, 36);
    border-radius: 8px;
    background: linear-gradient( rgba(0, 0, 0, 0.28), rgba(0, 0, 0, 0.28) ), url('../../texture/wooden_board.png');
}

.dungeonInstanceJoin_form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
}

.joinInviteCodePannelTitle {
    font-family: 'Eagle Lake', cursive;
    font-size: 19px;
    text-align: center;
    margin-top: -26px;
    margin-left: auto;
    margin-right: auto;

    width: 225px;
    background-color: white;
    padding: 2px;
    border: 2px black solid;
    border-radius: 10px;
}

.joinInviteCodePannelContent {
    font-size: 28px;
    color: white;
    text-align: center;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    background-color: unset;
    margin-top: 5px;
    margin-bottom: 5px;
    border: unset;
}

.joinInviteCodePannelContent:focus {
    outline: unset !important;
}

.inviteCodePannel {
    margin-top: 25px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;

    font-family: 'Eagle Lake', cursive;

    border: 12px solid rgb(133, 64, 36);
    border-radius: 8px;
    background: linear-gradient( rgba(0, 0, 0, 0.28), rgba(0, 0, 0, 0.28) ), url('../../texture/wooden_board.png');
}

.inviteCodePannelTitle {
    font-family: 'Eagle Lake', cursive;
    font-size: 22px;
    text-align: center;
    margin-top: -26px;
    margin-left: auto;
    margin-right: auto;

    width: 225px;
    background-color: white;
    padding: 2px;
    border: 2px black solid;
    border-radius: 10px;
}

.inviteCodePannelContent {
    font-size: 28px;
    color: white;
    text-align: center;
}

@media (min-width: 1500px) {
    .noDungeonImage img {
        width: 425px;
    }

    .noDungeonTitle {
        text-align: center;
        font-size: 22px;
    }

    #noDungeonCooldownTimer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 30px;
        font-size: 22px;
    }

    .noDungeonCooldownTimerContainer p {
        font-size: 18px;
    }
}