.dungeonCreateTitle {
    text-align: center;
    font-family: 'Eagle Lake', cursive;
    font-size: 22px;
}

.dungeonCreate_form {
    display: flex;
    flex-direction: column;
}

.dungeonCreate_formWidget {
    margin-left: auto;
    margin-right: auto;
    width: 375px;
    height: 35px;
    margin-top: 50px;
    font-family: 'Eagle Lake', cursive;
    background-image: url('../../texture/parchement.jpg');
    border-radius: 10px;
    padding-left: 5px;
    font-size: 17px;
}

.dungeonCreate_Submit {
    width: 140px;
    height: 35px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../../texture/parchement.jpg');
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'Eagle Lake', cursive;
    font-size: 15px;
}

.dungeonCreate_Submit:hover {
    cursor: pointer;
}

@media (min-width: 1300px) {
    .dungeonCreate_formWidget {
        width: 420px;
        height: 40px;
        font-size: 20px;
    }

    .dungeonCreate_Submit {
        width: 180px;
        height: 40px;
        font-size: 20px;
    }
}

@media (max-width: 400px) {
    .dungeonCreateTitle {
        font-size: 19px;
    }

    .dungeonCreate_formWidget {
        width: 300px;
        height: 30px;
        font-size: 17px;
    }

    .dungeonCreate_Submit {
        width: 120px;
        height: 30px;
        font-size: 17px;
    }
}