<div class="profileCharacterCardGearTitle">Équipements</div>

<div class="profileCharacterCardGearContent">
    <ldiv class="profileCharacterCardGearContentItemContainer">
        <div class="profileCharacterCardGearItemTitle">Arme</div>
        <div class="profileCharacterCardGearItemIcon">
            {% include "Character/show_gear_tooltip.html.twig" with {'item': character.Gear.Weapon} only %}
            <img src="http://dummyimage.com/125x125">
        </div>
        <div class="profileCharacterCardGearItemName">{{character.Gear.Weapon.name | trans({}, 'app')}}</div>
        <a class="profileCharacterCardGearUnequipLink" href=""><div class="profileCharacterCardGearUnequip">Déséquiper</div></a>
    </ldiv>
    <div class="profileCharacterCardGearContentItemContainer">
        <div class="profileCharacterCardGearItemTitle">Foulard</div>
        <div class="profileCharacterCardGearItemIcon">
            <!--{% include "Character/show_gear_tooltip.html.twig" with {'item': character.Gear.Scarf} only %}-->
            <img src="http://dummyimage.com/125x125">
        </div>
        <div class="profileCharacterCardGearItemName">{{character.Gear.Scarf.name | trans({}, 'app')}}</div>
        <a class="profileCharacterCardGearUnequipLink" href=""><div class="profileCharacterCardGearUnequip">Déséquiper</div></a>
    </div>
    <div class="profileCharacterCardGearContentItemContainer">
        <div class="profileCharacterCardGearItemTitle">Accessoire</div>
        <div class="profileCharacterCardGearItemIcon">
            <!--{% include "Character/show_gear_tooltip.html.twig" with {'item': character.Gear.Accessory} only %}-->
            <img src="http://dummyimage.com/125x125">
        </div>
        <div class="profileCharacterCardGearItemName">{{character.Gear.Accessory.name | trans({}, 'app')}}</div>
        <a class="profileCharacterCardGearUnequipLink" href=""><div class="profileCharacterCardGearUnequip">Déséquiper</div></a>
    </div>
</div>