<div class="profileCharacterCardGearTitle">{{'equipement' | trans({}, 'app')}}</div>

<div class="profileCharacterCardGearContent">
    {% include "Character/show_gear_container.html.twig" with {'item' : character.Gear.Weapon, 'type': 'item_type_weapon', 'type_trans':'arme'} only %}
    <div class="profileCharacterCardGearSeparatorMobile"></div>
    {% include "Character/show_gear_container.html.twig" with {'item' : character.Gear.Scarf, 'type': 'item_type_scarf', 'type_trans':'foulard'} only %}
    <div class="profileCharacterCardGearSeparatorMobile"></div>
    {% include "Character/show_gear_container.html.twig" with {'item' : character.Gear.Accessory, 'type': 'item_type_accessory', 'type_trans':'accessoire'} only %}
</div>